.main {
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
  }

  .submain {
    display: none;
  }

  @media (min-width: 1024px) {
    .submain {
      display: flex;
    }
  }

  .submain {
    width: 13rem; 
    max-width: 20rem; 
    flex-direction: column; 
    gap: 1.25rem; 
    overflow-y: auto;
    border-right: 1px solid #CBD5E0; 
    border-radius: 2rem 0 0 2rem; 
    border-color: #CBD5E0; 
    background-color: #FFFFFF; 
  }

  .paragraph {
    color: #000000; 
    font-weight: bold; 
    font-size: 1.25rem; 
    margin-left: 1.5rem; 
  }

  .span {
    color: #6B46C1; 
    font-weight: bold; 
    font-size: 1.25rem; 
  }

  .nav {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .listitem {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .button {
    padding: 0.625rem;
    margin-left: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #5F2EEA;
    border-radius: 0.375rem;
    border: 1px solid #5F2EEA;
    transition: background-color 0.3s;
    outline: none;
  }

  .link {
    color: #BCA4FF;
  }


  .listitem2 {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
  }